{% extends 'workspace.html' %}
{% load static %}

{% block content %}
<h1>Projects</h1>

<form class="mx-2 my-auto d-inline w-100" method="GET">
    <div class="input-group">
        <input type="text" name="q" class="form-control rounded-0" placeholder="Search" value="{{ search_term }}">
        <span class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary rounded-0" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
    </div>
</form>

<div class="row mb-3">
  <div class="col">
    <a href="{% url 'projects:create' %}" class="btn btn-block text-white prussian-blue-bg rounded-0">Create</a>
  </div>
</div>

<div class="row">
  {% for problem in problems %}
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ problem.name }}</h3>
          <div class="card-text content-markdown">{{ problem.description|truncatechars:50 }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
