{% extends 'workspace.html' %}

{% block content %}

<h1>Topics</h1>

<form class="mx-2 my-auto d-inline w-100" method="GET">
    <div class="input-group">
        <input type="text" name="q" class="form-control rounded-0" placeholder="Search" value="{{ search_term }}">
        <span class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary rounded-0" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
    </div>
</form>

<div class="row my-3">
    <div class="col">
        <ul>
            {% for topic in topics %}
                <li>
                    <h4><a href="{% url 'topics:threads' topic.slug %}">{{ topic.name }}</a></h4>
                    <p>{{ topic.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}