{% extends 'workspace.html' %}

{% block content %}

<h1>{{ topic.name }} Discussions</h1>

<form class="mx-2 my-auto d-inline w-100" method="GET">
    <div class="input-group">
        <input type="text" name="q" class="form-control rounded-0" placeholder="Search" value="{{ search_term }}">
        <span class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary rounded-0" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
    </div>
</form>

<div class="row mb-3">
    <div class="col">
        <a href="{% url 'threads:create' topic.slug %}" class="btn btn-block text-white prussian-blue-bg rounded-0">Create</a>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <ul>
            {% for thread in threads %}
                <li>
                    <h4>{{ thread.subject }}</h4>
                    <p>{{ thread.body }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}