{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header">{{ request.user.name }}'s Activity Center</h1>
            </div>
        </div>

        <div class="row">
            <div class="four wide column">
                {% include 'partials/base/_sidenav.html' %}
            </div>
            <div class="twelve wide column">
                <h1 class="ui dividing header">References</h1>
                <a href="{% url 'references:create' %}" class="ui button viking fluid my-3">Add</a>
                <div class="ui divided items">
                    {% for ref in references %}
                        <div class="item">
                            <div class="content">
                                <a class="header">{{ ref.name }}</a>
                                <div class="meta">
                                    <span class="contact">Contact: {{ ref.contact_info }}</span> &middot; &nbsp;
                                    <span class="known">Known for {{ ref.known_span }} {{ ref.known_measure }}</span>
                                </div>
                                <div class="description">
                                    <p></p>
                                </div>
                                <div class="extra">
                                    <div class="ui label">Relationship: {{ ref.reference_type }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}